In [72]:
import numpy as np
import pandas as pd

In [73]:
df = pd.read_csv('Q3_data.csv')

In [74]:
df.head(10)

                    ts user_id country_id site_id
0  2019-02-01 00:01:24  LC36FC        TL6   N0OTG
1  2019-02-01 00:10:19  LC39B6        TL6   N0OTG
2  2019-02-01 00:21:50  LC3500        TL6   N0OTG
3  2019-02-01 00:22:50  LC374F        TL6   N0OTG
4  2019-02-01 00:23:44  LCC1C3        TL6   QGO3G
5  2019-02-01 00:24:21  LC3E1D        HVQ   GVOFK
6  2019-02-01 00:25:29  LC3561        TL6   3POLC
7  2019-02-01 00:29:15  LC3A01        TL6   N0OTG
8  2019-02-01 00:32:43  LC36FC        TL6   N0OTG
9  2019-02-01 00:35:30  LC3D80        TL6   N0OTG

Consider only the rows with country_id = "BDV" (there are 844 such rows). For each site_id, we can compute the number of unique user_id's found in these 844 rows. Which site_id has the largest number of unique users? And what's the number?

In [75]:
BDV = df[df.country_id == 'BDV']
sites = BDV.groupby('site_id')["user_id"].nunique().sort_values(ascending=False)
print(sites.index[0] + " has the largest number of unique users")
print(sites.index[0] + " has " + str(sites[0]) + " unique users")

5NPAU has the largest number of unique users
5NPAU has 544 unique users

Between 2019-02-03 00:00:00 and 2019-02-04 23:59:59, there are four users who visited a certain site more than 10 times. Find these four users & which sites they (each) visited more than 10 times. (Simply provides four triples in the form (user_id, site_id, number of visits) in the box below.)

In [76]:
df['ts'] = pd.to_datetime(df['ts'])
df_selected_time = df[(df.ts >= '2019-02-03 00:00:00') & (df.ts <= '2019-02-04 23:59:59')]
users = df_selected_time.groupby(['user_id', 'site_id'])['ts'].count()
users.loc[lambda x: x > 10]

user_id  site_id
LC06C3   N0OTG      25
LC3A59   N0OTG      26
LC3C7E   3POLC      15
LC3C9D   N0OTG      17
Name: ts, dtype: int64

For each site, compute the unique number of users whose last visit (found in the original data set) was to that site. For instance, user "LC3561"'s last visit is to "N0OTG" based on timestamp data. Based on this measure, what are top three sites? (hint: site "3POLC" is ranked at 5th with 28 users whose last visit in the data set was to 3POLC; simply provide three pairs in the form (site_id, number of users).)

In [103]:
last_visit = df.sort_values(by=['user_id', 'ts'], ascending=False).groupby('user_id').head(1)
last_visit.groupby('site_id')['user_id'].count().sort_values(ascending=False).head(3)

site_id
5NPAU    992
N0OTG    561
QGO3G    289
Name: user_id, dtype: int64

For each user, determine the first site he/she visited and the last site he/she visited based on the timestamp data. Compute the number of users whose first/last visits are to the same website. What is the number?

In [110]:
first_visit = df.sort_values(by=['user_id', 'ts'], ascending=True).groupby('user_id').head(1)

site_id
3POLC     28
5NPAU    985
GVOFK     46
JSUUP      2
N0OTG    561
QGO3G    293
RT9Z6      1
Name: user_id, dtype: int64

In [119]:
first_last_visit = pd.merge(last_visit, first_visit, how="inner", on='user_id')
len(first_last_visit[first_last_visit.site_id_x == first_last_visit.site_id_y])

1670